body{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.container{
    width: 1280px;
   
}
.block-1{
    background: url(/assets/images/start-screen-gradient-background.svg) no-repeat;
    width: 1280px;
    height: 908px;
}

header{
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    margin: 0;
    width: 1200px;
    height: 60px;
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 184px;
    height: 60px;
    margin-right: 573px;
    cursor: pointer;
}
.logo-h2{
    margin-left: 5px;
    font-family: 'Arial';
    width: 179px;
    height: 15px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.09em;
    justify-content:space-between;
    color: white;
  
}
h1{
    color: #F1CDB3;
    width: 184px;
    height: 35px; 
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    margin: 0px;
}



.h2-header{
    margin-top: 163px;
    width: 310px;
    height: 114px;
    padding: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: white;
}

.p-header{
    margin-top: 42px;
    width: 460px;
    height: 72px;
    font-family: 'Arial';
    color: #CDCDCD;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

 .btn-make-friend{
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    border: none;
    margin-top: 42px;
    letter-spacing: 0.05em;

} 
.btn-make-friend:hover{
    background: #f9c2a0;
    cursor: pointer;
}

.main{
    display: flex;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    
}


.main-div{
    width: 460px;
    height: 322px;
    margin-right: 42px;

}

.doggo{
    width: 698px;
    height: 728px;
}


.ul-header{
    display: flex;
    gap: 35px;
    list-style: none;
    width: 443px;
    height: 27px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    padding: 0px;
    
}
a{
    text-decoration: none;
    color: #CDCDCD;
}

ul li{
    cursor: pointer; 
    position: relative;
    text-align: center;
}


li.active::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color:#F1CDB3;
    left: 0;
    bottom: -1px;
    animation: appear 0.2s linear;
}
@keyframes appear{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}


.arrow:hover{
    background-image: linear-gradient(rgba(246, 227, 177, 0.4) 0 0);
}
.item:hover{
    cursor: pointer;
}
.btn-arrow{
    width: 52px;
    height: 52px;
    border: none;
    background-color: #F6F6F6;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0;
}

/* BLOCK-2 */
.block-2{
    display: flex;
    padding-top: 132px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    width: 1200px;
    height: 408px;
    background: #FFFFFF;
}
 .content-block-2{
    width: 430px;
    height: 380px;
  
 }

 .cat-dog{
    width: 300px;
    height: 408px;
    margin-left: 175px;
    margin-right: 120px;
 }
   
.h2-block-2{
    width: 370px;
height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0px;
  }
  .p-block-2{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
  }





/* BLOCK-3 */
.block-3{
    display: flex;
    align-items: center;
    width: 1280px;
    height: 877px;
    background: #F6F6F6;
}

.block-3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 697px;
    background: #F6F6F6;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.h2-block-3{
    display: flex;
    
    width: 400px;
    height: 90px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.pets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 435px;

} 

.arrow{
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
}


.img-block3{
    width: 270px;
    height: 270px;;
}
.img-block3:hover{
    cursor: pointer;
}
.same{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 40px;
}

.same:hover{
    background-color: #ffffff;
    cursor:pointer;
    box-shadow: 5px 9px 18px -5px rgba(48, 48, 48, 0.76);
}


.same:hover button{
    background-color: #F1CDB3;
    cursor:pointer;
}


.same-btn{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;

}

.same-name{
    font-family: 'Georgia';

font-weight: 400;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #545454;

}

.btn-block-3{
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.btn-block-3:hover{ 
    background: #f5c09a;
    cursor: pointer;
}
/* BLOCK-4 */

.block-4{
    width: 1280px;
    height: 611px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
   
}

.block-4-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 431px;
    background: #FFFFFF;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;

}

.block-4-h2{
    width: 308px;
height: 90px;
font-family: 'Georgia';
font-weight: 400;
font-size: 35px;
line-height: 130%;
text-align: center;
letter-spacing: 0.05em;
color: #545454;
margin: 0;

}

.block-4-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 120px;
    width: 1026px;
    padding-top: 70px;
    padding-bottom: 100px; 
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #545454;
}



/* BLOCK-5 */

.block-5{
    display: flex;
    width: 1280px;
    height: 462px;
    background: #F6F6F6;
}
.block-5-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 915px;
    height: 282px;
    background: #F6F6F6;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 183px;
    margin-right: 182px;
}
.laying-dog{
    width: 505px;
height: 261px;
}
.block-5-content{
    width: 380px;
height: 282px;
}
.block-5-h2 {
    width: 300px;
height: 90px;
font-family: 'Georgia';
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
margin: 0;

}
.block-5-h3{
    width: 307px;
height: 17px;
font-family: 'Georgia';
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.05em;
color: #545454;
}
.credit-card{
    display: flex;
align-items: center;
justify-content: center;
gap: 15px;
    width: 349px;
height: 43px;
background: #F1CDB3;
border-radius: 9px;
font-family: 'Georgia';
letter-spacing: 0.06em;
color: #545454;
border: none;
}

.credit-card:hover{
     background: #f5c09a;
    cursor: pointer;}

a:hover{
    cursor: pointer;
   
}


.block-5-par{
    width: 274px;
height: 23px;
font-weight: 400;
font-size: 20px;
line-height: 115%;

}
.credit-card-icon{
    width: 30px;
height: 23px;
}

.block-5-p{
    width: 380px;
height: 72px;
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;

}


















/* FOOTER */

footer{
    display: flex;
    background: url(/assets/images/footer-gradient-background.svg) no-repeat;
    width: 1280px;
    height: 350px;
}

.footer-content{
    width: 1200px;
height: 310px;
display: flex;
gap: 160px;
margin-top: 40px;
margin-left: 40px;
margin-right: 40px;

}



.contacts{
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 234px;
    gap:40px;
   
}

.footer-h2-1{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;  
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 278px;
    height: 90px;
    margin: 0;
}

.contacts-1{
    width: 251px;
    height: 32px;
    display: flex;
    align-items: center;

}

.cont-icon{
    width: 40px;
    height: 32px;
    margin-right: 20px;
}

.ftr-span-1{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    }

.contacts-2{
    display: flex;
    align-items: center;
    width: 239px;
    height: 32px;
}
.phone-icon{
    width: 40px;
height: 32px;
margin-right: 20px;
}

.ftr-span-2{
    width: 179px;
height: 23px;
font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.05em;

color: #F1CDB3;

}




.address{
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 234px;
    gap:40px;
  
}

.footer-h2-2{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;  
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 270px;
    height: 90px;
    margin: 0;
}

.address-1{
    display: flex;
    align-items: center;
    width: 302px;
height: 46px;
}

.pin{
    width: 22px;
height: 32px;
margin-right: 20px;
}

.address-span-1{
    width: 260px;
    height: 46px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.address-2{
    display: flex;
    align-items: center;
    width: 302px;
    height: 32px;
}

.address-span-2{
    width: 260px;
    height: 23px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;

}

.footer-puppy{
    width: 300px;
    height: 310px;
        
}